header {
    box-shadow: 0 7px 10px -9px #4d4d4d;

    button {
        background-color: $white;
        padding: 8px;
        border: none;
        display: flex;
        align-items: center;

        svg {
            margin-right: 3px;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

.flex-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}