.search-container {
    position: relative;
    margin: 20px 0;

    input {
        width: 100%;
        padding: 10px 40px;
        border-radius: 5px;
        border: none;
        -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
    }
}

.search-icon {
    top: 8px;
    left: 10px;
    position: absolute;
}

.filter-container {
    position: relative;
    width: 50%;

    .dropdown {
        border-radius: 5px;
        border: none;
        -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
    }

}